h1 {
    font-size: 24px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    margin-top: 0.5em;
    width: 300px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 6px;
}

textarea {
    margin-top: 0.5em;
    border: 1px solid #ccc;
    width: 50%;
    height: 160px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
}

/* focus 선택자로 태그를 선택해서 디자인을 적용할 때는 해당 태그의 border 속성이 지정되어 있어야 함 */
/* 브라우저에 따라서는 focus 상태일 때 브라우저 자체 css가 적용될 수 있음 */
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    background: #faf4e2;
}