#login_form {
    margin: 3em auto;
    border: 2px solid #3754AB;
    width: 320px;
    border-radius: 8px;
}

.login_title {
    margin: 0;
    padding: 8px 0;
    font-size: 1em;
    text-align: center;
    background: #3754AB;
    color: #fff;
}

.login_line {
    text-align: center;
}

input[type="email"], input[type="password"] {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #C1C6D6;
}

input[type="submit"] {
    padding: 6px 20px;
    border: 2px solid #CBC5E3;
    border-radius: 10px;
    background: #E0D9FA;
    font-size: 20px;
    color: #ffffff;
}

input[type="submit"]:hover {
    background: #CBC5E3;
}

input[type="submit"]:active {
    background: #E0D9FA;
}
