h1 {
    font-size: 24px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 300px;
    font-family: sans-serif;
    font-size: 16px;
}

textarea {
    border: 1px solid #ccc;
    width: 420px;
    height: 160px;
    font-family: sans-serif;
    font-size: 16px;
    /* textarea 사이즈를 조절 할 수 없게 css 설정 */
    resize: none;
}

.textfield_label {
    display: inline-block;
    width: 7em;
}

input[type="submit"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 6px 15px;
}