body {
    margin: 0;
}

.outer ul {
    overflow: hidden;
    padding: 30px 0;
    margin: 0;
    list-style: none;
}

.outer li {
    float: left;
    box-sizing: border-box;
    width: 20%;
    padding: 8px;
    font-size: 0;
}

.outer li img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.outer li a:hover img {
    /* sepia : 세피아색을 적용하는 필터 함수 */
    /* 세피아색 : 어두운 갈색 / 오징어 먹물에서 추출해낸 색, 세피아 고대 그리스어로 오징어를 뜻함 */
    /* blur : 블러 효과를 적용하는 필터 함수 */
    filter: sepia(80%) blur(3px);
    transform: scale(1.05);
}   