body {
    margin: 0;
}

nav {
    padding: 30px 0;
    border-bottom: 2px solid #000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #000;
    transform: rotate(-20deg);
    /* 연결된 동작으로 변형을 주고 싶을 때 트랜지션 또는 애니매이션을 함께 사용해야함 */
    transition: transform 0.5s linear;
}

nav li a:hover {
    color: #d34547;
    transform: rotate(0deg);
}