body {
    margin: 0;
}

.link {
    padding: 30px 0;
}

.link ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.link li {
    padding: 30px;
}

.link ul li a img {
    transition: transform 0.6s linear;
}

.link ul li a img:hover {
    transform: scale(1.3);
}